{% extends "quotesapp/index.html" %}

{% block content %}

<nav class="quotes_nav" style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
    <ul>
        <li><a href="{% url 'quotesapp:quotes_list' %}" role="button">Show quotes</a></li>
        <li><a href="{% url 'quotesapp:authors_list' %}" role="button" class="secondary outline">Show authors</a></li>
    </ul>
</nav>

{% if authors %}
    <h1 style="height: 20px; text-align: center; color: white;">Authors:</h1>
    {% for author in authors %}
    <ul>
        <li>
            <a style="max-width: 100%; margin: 5px;" href="{% url 'quotesapp:detail_a' 0 author.id %}" role="button" class="outline"> {{ author }} </a>
            <a style="max-width: 100%; margin: 5px; color: red;" href="{% url 'quotesapp:delete_author' author.id %}" role="button" class="contrast outline"> Delete author </a>
        </li>
    </ul>
    {% endfor %}
{% else %}
    <p><b> You didn't add any authors yet </b></p>
{% endif %}

{% endblock %}